In [4]:
# import library
import pandas as pd
import os

In [6]:
# set default directory
os.chdir('/home/lbertel/code/talento_tech/content')
!ls

data  docs  models  notebooks  reports	requirements.txt

In [7]:
# load raw file
df_data_all_country = pd.read_csv('data/raw/data.csv')

In [8]:
# print all data
df_data_all_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213138 entries, 0 to 213137
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   COUNTRY             213138 non-null  object
 1   CODE_TIME           213138 non-null  object
 2   TIME                213138 non-null  object
 3   YEAR                213138 non-null  int64
 4   MONTH               213138 non-null  int64
 5   MONTH_NAME          213138 non-null  object
 6   PRODUCT             213138 non-null  object
 7   VALUE               213138 non-null  float64
 8   DISPLAY_ORDER       213138 non-null  int64
 9   yearToDate          213138 non-null  float64
 10  previousYearToDate  196016 non-null  float64
 11  share               213138 non-null  float64
dtypes: float64(4), int64(3), object(5)
memory usage: 19.5+ MB

In [10]:
# select row with COUNTRY is equal Colombia
df_data_colombia = df_data_all_country[df_data_all_country['COUNTRY'] == 'Colombia']

In [11]:
# print first record of Colombia
df_data_colombia.head(10)

# size dataframe
len(df_data_colombia)

3104

In [15]:
# show columns after delete
print(df_data_colombia.columns)

# delete columns
df_temp = df_data_colombia.drop(['COUNTRY', 'CODE_TIME', 'TIME', 'MONTH_NAME', 'DISPLAY_ORDER', 'yearToDate', 'previousYearToDate', 'share'], axis=1)

# show columns before delete
print(df_temp.columns)
print('')
print('---------------------------------')
print('')

df_temp.info()

Index(['COUNTRY', 'CODE_TIME', 'TIME', 'YEAR', 'MONTH', 'MONTH_NAME',
       'PRODUCT', 'VALUE', 'DISPLAY_ORDER', 'yearToDate', 'previousYearToDate',
       'share'],
      dtype='object')
Index(['YEAR', 'MONTH', 'PRODUCT', 'VALUE'], dtype='object')

---------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 3104 entries, 46557 to 212133
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   YEAR     3104 non-null   int64
 1   MONTH    3104 non-null   int64
 2   PRODUCT  3104 non-null   object
 3   VALUE    3104 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 121.2+ KB

In [17]:
# delete row with null values
len(df_temp)
df_without_null = df_temp.dropna(how='any')

# size dataframe without null
len(df_without_null)

3104

In [18]:
# eliminate row with PRODUCT containt Total
filter_total = df_without_null[~df_without_null['PRODUCT'].str.contains('Total', case=False, na=False)]

len(filter_total)

2706

In [19]:
# save the new dataframe
filter_total.to_csv('data/processed/colombia_data.csv', index=False)

In [20]:
# information dataframe
filter_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2706 entries, 46557 to 212133
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   YEAR     2706 non-null   int64
 1   MONTH    2706 non-null   int64
 2   PRODUCT  2706 non-null   object
 3   VALUE    2706 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 105.7+ KB

In [21]:
# dimension of dataframe
filter_total.shape

# missing values
filter_total.isnull().sum(axis=0)

YEAR       0
MONTH      0
PRODUCT    0
VALUE      0
dtype: int64

In [55]:
# missing values
filter_total.isnull().sum(axis=0)

YEAR       0
MONTH      0
PRODUCT    0
VALUE      0
dtype: int64