In [4]:
# import library
%matplotlib inline
import os
import pandas as pd

In [19]:
# set default directory
os.chdir('/home/lbertel/code/talento_tech/content')

# load data
colombia_df = pd.read_csv('data/processed/colombia_data.csv')
colombia_df.head(10)

   YEAR  MONTH                     PRODUCT     VALUE
0  2014      1                       Hydro  3903.977
1  2014      1                        Wind     5.648
2  2014      1                       Solar     1.065
3  2014      1                        Coal   521.938
4  2014      1                         Oil   139.219
5  2014      1                 Natural gas  1031.146
6  2014      1      Combustible renewables    99.721
7  2014      1  Net electricity production  5702.714
8  2014      1        Electricity supplied  5555.847
9  2014      1         Distribution losses   536.164

In [17]:
## Visión general del datase

      YEAR  MONTH                      PRODUCT        VALUE
0     2014      1                        Hydro  3903.977000
1     2014      1                         Wind     5.648000
2     2014      1                        Solar     1.065000
4     2014      1                         Coal   521.938000
5     2014      1                          Oil   139.219000
...    ...    ...                          ...          ...
3099  2025      2               Non-renewables  1796.540753
3100  2025      2                       Others   274.151179
3101  2025      2  Other renewables aggregated   229.792866
3102  2025      2                   Low carbon  5132.921440
3103  2025      2                 Fossil fuels  1796.540753

[2706 rows x 4 columns]

In [ ]:
## Análisis unidimensional